*{
    padding: 0px;
    margin: 0px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
/* Header */
.header{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.392);
    z-index: 2;
}
nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.log{
    padding-left:40px;
    display: flex;
    align-items: center;

}
.logo{    
    color: #1a3fa6;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navi{
    width: 40%;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lnk{
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #222;
   }
.lnk:hover{
    color: #1a3fa6;;
    background-color: rgba(26, 63, 166, 0.08);
    border-radius: 5px;
}
.active{
    color: #1a3fa6;
    background-color: rgba(26, 63, 166, 0.08);
    border-radius: 5px;
}
/* Section */
.section{
    width: 100%;
    min-height: 70vh;
    padding-top: 100px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sec_left{
    width: 100%;
    padding-left: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
.sec_head{
    font-size: 70px;
    font-weight: 600;
    width: 100%;
    color: rgb(85, 85, 85);
}
.sec_subhead{
    font-size: 30px;
    font-weight: 100;
    color: rgb(50, 50, 50);
    padding-top: 20px ;
}
b{
    color: rgb(85, 85, 85);
}
.sec_content{
    width: 700px;
    font-size: 18px;
    padding-top:20px ;
    line-height: 30px;
    color: rgb(85, 85, 85);
}
.know_more_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 140px;
    padding: 10px 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    color: white;
    box-shadow: 0px 5px 10px #263fe365;
    background: linear-gradient(180deg, #263fe3, #00a9e5);;
}
.know_more_btn:hover{
    background: linear-gradient(180deg,#00a9e5, #263fe3);
}
.sec_foot{
    display: flex;

}
.sec_foot div{
    margin-top: 20px;
    display: flex;
}
.sec_foot div h3{
    font-size: 35px;
    margin-left: 30px;
}
.sec_foot div span{
    font-size: 35px;
    font-weight: bold;
    color: #1a3fa6;
}
.sec_foot div p{
    padding-left: 20px;
    line-height: 40px;
    color: rgb(85, 85, 85);
}
.sec_right{
    width: 100%;
    margin-top: 50px;
}
/* Service */
.service{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.ser_head{
    display: flex;
    justify-content: center;
}
.ser_head h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: rgb(50, 50, 50);
    margin-bottom: 50px;
}
.ser_boxs{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 180px;
}
.ser_box{
    width: 300px;
    height: 230px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}
.ser_box:hover{
    transform: scale(1.1);
}
.ser_box img{
    width: 80px;
}
.ser_box h3{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.ser_box p {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: rgb(85, 85, 85);
}
.ser_foot {
    display: flex;
    justify-content: center;
    margin: 30px;
}
/* footer */
footer{
   background-color: rgb(212, 240, 248);
}
.foot1{
    padding:50px 150px ;
    display: flex;
    justify-content: space-between;
}
.foot_logo{
    font-size: 25px;
    font-weight: bold;
    color: #1a3fa6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.foot_content{
    margin-left: 30px;
    margin-top: 20px;
    width: 250px;
}
.foot_content h4{
 font-size: 20px;
 width: 200px;
 line-height: 25px;
}
.foot_content p{
    margin-top: 10px;
    line-height: 25px;
    width: 230px;
    font-size: 18px;
    color: rgb(85, 85, 85);
}
.foot_content a{
    text-decoration: none;
    color: #1a3fa6;
    font-size: 20px;
}
.qk_lnk{
    margin-top: 20px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.qk_lnk a{
    color: #1a3fa6;
}
.qk_lnk a:hover{
    color: rgb(85, 85, 85);
}
.in_touch{
    margin-top: 20px;
    display: flex;
}

.in_touch img{
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.in_touch p{
    margin-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.foot2{
    height: 100px;
    border-top: 1px solid rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot_hd{
    margin-top: 10px;
}
.foot_hd p{
    font-size: 17px;
    color: #888888;
}
.foot_hd a{
    margin-right: 30px;
}

/* Aboutus */

.about{
    width: 100%;
    min-height: 70vh;
    padding-top: 100px;
    margin-bottom: 80px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.abt_left{
    width: 100%;
    padding-left: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
.abt_head{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.abt_content{
    color: rgb(85, 85, 85);
    font-size: 18px;
    line-height: 1.6;
    padding-right: 10px;
    text-align: justify;
    margin-bottom: 20px;
}
.abt_right{
    padding-right: 80px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abt_right p{
    color: rgb(85, 85, 85);
    font-size: 18px;
    margin-top: 20px;
}

/* Choose */
.choose{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cho_top{
    margin-bottom: 40px;
}
.cho_head{
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cho_content{
    text-align: center;
    font-size: 18px;
    width: 750px;
    color: rgb(85, 85, 85);
    line-height: 30px;    
}
.cho_bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
}
.cho_boxs{
    width: 490px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.175);
}
.cho_boxs:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.471);
}
.box_head{
    display: flex;
    justify-content: left;
}
.cho_boxs h3{
    padding-left: 20px;
    font-size: 22px;
}
.cho_boxs p{
    padding-left: 60px;
    color: rgb(85, 85, 85);
    font-size: 18px;
    line-height: 30px;
}
.cho_img{
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.175);
}
.cho_img:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.471);
}

/* Our Service */

.our_service{
    width: 100%;
    min-height: 70vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.our_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our_head{
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.our_content{
    width: 800px;
    font-size: 18px;
    color: rgb(85, 85, 85);
    text-align: center;
    line-height: 30px;
}
.our_bottom{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;    
}
.our_boxs{
    width: 250px;
    height: 270px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_boxs:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.36);
}
.our_boxs img{
    margin-top: 20px;
}
.our_boxs h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.our_boxs p {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(85, 85, 85);
    text-align: center;
}

/* Products */

.product {
    width: 100%;
    min-height: 70vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.pro_top {
    padding: 0px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

.pro_top h2 {
    font-size: 48px;
    font-weight: bold;
}

.pro_top p {
    font-size: 18px;
    color: rgb(85, 85, 85);
    line-height: 30px;
}

.pro_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.pro_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}

.pro_boxs {
    width: 350px;
    height: 150px;
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
    background: linear-gradient(to bottom right, #ace3ff, #cad1ff);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.pro_boxs h3 {
    font-size: 25px;
    margin: 10px 0px;
}

.pro_p {
    font-size: 17px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
}

.pro_read{
    width: 350px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.pro_read p{
    color: #888888;
    cursor: pointer;
}

.pro_boxs span {
    width: 15px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(234, 246, 251) 0%, rgb(179, 231, 247) 100%);
}
.pro_read a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000000;    
}

/* Client */
.client{
        width: 100%;
        min-height: 70vh;
        padding-top: 70px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
}
.cl_top{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}
.cl_top h2 {
    font-size: 48px;
    font-weight: 500;
}

.cl_top p {
    text-align: right;
    font-size: 18px;
    color: rgb(85, 85, 85);
    line-height: 30px;
}
.cl_bottom{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 55px 55px;
}
.cl_box{
    cursor: pointer;
    width: 200px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.cl_box:hover{
    transform: scale(1.1);
}
/* Carrers */

.carrer{
    width: 100%;
    min-height: 70vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.car_top{
    padding: 0px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}
.car_top h2{
    font-size: 48px;
    font-weight: 500;
}
.car_top p {
    font-size: 18px;
    color: rgb(85, 85, 85);
    line-height: 30px;
}
.car_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.car_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}
.car_boxs{
    width: 550px;
    padding: 28px;
    border-radius: 20px;
    background-color: #263fe3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.car_boxs h3{
    font-size: 25px;
    margin: 30px 0px;
}
.car_boxs p{
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
}
.car_boxs a{
    margin-top: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #044bff;
    transition: padding-left 1s;
}
.car_boxs a:hover{
   padding-left: 10px;
}

/* Contact */
.contact{
    width: 100%;
    min-height: 70vh;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.contact h1{
    font-size: 48px;
}
.con_body{
    
    margin-top: 40px;
    padding: 0px 180px;
    display: flex;
    
}
.con_left{
    width: 500px;
    padding: 20px 40px;
}
.con_left h2{
    font-size: 40px;
}
.con_left p {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(85, 85, 85);
    line-height: 30px;
}
.con_left img{
    margin-top: 30px;
}
.con_right{
    width: 500px;
    padding: 30px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.con_right h2{
    margin-top: 30px;
}
.con_input{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.con_name{
    display: flex;
    justify-content: space-between;
}
.con_name input{
    width: 210px;
}
input{
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid rgb(209, 209, 209);
}
textarea{
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid rgb(209, 209, 209);
}
